:root {
    --main-green: #b8e994;
    --main-blue: #6a89cc;
    --main-red: #e55039;
  }

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
}

.add-post-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: 35px;
    color: #fff;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 30%;
    background-color: var(--main-blue);
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-top: 15px;
}

textarea#note-textarea {
    width: 90%;
    resize: none;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 5%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

input#add-post {
    background: var(--main-green);
    width: 20%;
    height: 30px;
    border: var(--main-green);
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    outline: none;
    cursor: pointer;
}

input#clear-input {
    background: var(--main-red);
    width: 20%;
    height: 30px;
    border: var(--main-red);
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    outline: none;
    cursor: pointer;
}

.posts {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul.list-posts {
    width: 30%;
    list-style: none;
    padding: 0;
    position: relative;
}

li.post-item {
    position: relative;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin-bottom: 10px;
}

p.text {
    width: 97%;
}

.del {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: red;
    border-radius: 50px;
    padding: 2px;
    font-size: 12px;
    width: 13px;
    height: 13px;
    text-align: center;
}

.deleteAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#delete-all-posts {
    background: var(--main-red);
    width: 10%;
    height: 35px;
    border: var(--main-red);
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

input#uploadImage {
    display: none;
}

.upload {
    display: none !important;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.upload label {
    background: #fff;
    padding: 7px 63px;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    cursor: pointer;
}

#filter {
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 3px;
    border: none;
    outline: none;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
    .form {
        width: 50%;
    }
    ul.list-posts {
        width: 54%;
    }
    input#delete-all-posts {
        width: 12%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .form {
        width: 70%;
    }
    ul.list-posts {
        width: 76%;
    }

    input#delete-all-posts {
        width: 18%;
    }
}

@media screen and (max-width: 481px) and (max-width: 767px) {
    .form {
        width: 85%;
    }
    ul.list-posts {
        width: 95%;
    }

    input#delete-all-posts {
        width: 35%;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 81%;
    }

}